.idea*
/logs
.DS_Store

data
*.pyc
/gifs/
build
*.so
*.csv
*.egg-info
wandb
.vscode
api
logs
.nfs*
*.so
*.out
*.log
png
biased_eval/*
results/

docker
dataset

pretrained_models

*__pycache__*
*.egg-info
*.DS_Store
.ipynb_checkpoints/


train/balance/
train/random1/
train/simple/
train/unident/
train/unident_s/
