[submodule "external/madrona"]
	path = external/madrona
	url = https://github.com/shacklettbp/madrona.git
[submodule "overcooked_ai"]
	path = overcooked_ai
	url = https://github.com/HumanCompatibleAI/overcooked_ai
