.idea*
/logs
.DS_Store
.hypothesis

data
*.pyc
/gifs/
build
*.so
*.csv
*.egg-info
wandb
.vscode
api
.nfs*
*.so
*.out
*.log
png
biased_eval/*
results/
runs/

docker
dataset

pretrained_models

*__pycache__*
*.egg-info
*.DS_Store
.ipynb_checkpoints/

